{% extends 'base.html.twig' %}

{% block title %}Conta{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary">
            <a style="text-decoration: none; color: #FFF" href="{{ path('app_account_new') }}">Nova conta</a>
        </button>
    </div>
    <!-- Table with hoverable rows -->
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Descrição</th>
            <th scope="col">Saldo</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
                <tr>
                    <td>{{ account.id }}</td>
                    <td>{{ account.description }}</td>
                    <td>{{ account.balance|format_currency('BRL') }}</td>
                    <td>
                        <a class="ri-eye-fill" href="{{ path('app_account_show', {'id': account.id}) }}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Visualizar"></a>
                        <a class="ri-pencil-fill" href="{{ path('app_account_edit', {'id': account.id}) }}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Editar"></a>
                        <!--<a class="ri-close-circle-fill" href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Excluir"></a>-->
                        {{ include('account/_delete_form.html.twig', {'id': account.id}) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="12">Nenhum registro encontrado.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- End Table with hoverable rows -->
{% endblock %}
