<a class="ri-close-circle-fill" href="#" data-bs-toggle="modal" data-bs-target="#basicModal{{category.id}}"></a>

<div class="modal fade" id="basicModal{{category.id}}" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Excluir Categoria</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Deseja realmente excluir a categoria <b>{{ category.description }}</b> ?
        </div>
        <div class="modal-footer">
            <form method="post" action="{{ path('app_category_delete', {'id': category.id}) }}">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                <button type="submit" class="btn btn-danger">Excluir</button>
            </form>
        </div>
        </div>
    </div>
</div><!-- End Basic Modal-->